
//- Display date in appropriate format
- function YYYYMMDD(date)
    - if (typeof date === 'undefined') return '';
    - var flDate = date.getFullYear() + '-';
    - flDate += ('0' + (date.getMonth() + 1)).slice(-2) + '-';
    - flDate += ('0' + date.getDate()).slice(-2);
    - return flDate;

//- Display time in appropriate format
- function HHMM(date)
    - if (typeof date === 'undefined') return '';
    - var flTime = ('0' + date.getHours()).slice(-2) + ':';
    - flTime += ('0' + date.getMinutes()).slice(-2);
    - return flTime;

//- TODO: remake it according to stackoverflow proposition
