
nav.navbar
  .container
    .navbar-header
      button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#admin-nav')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(href='/')
        img(src='/images/logo.png')

    #admin-nav.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/адмінка/додати-подію', title='Додати подію') Додати подію
