extends layout

block content
  .container
    .row
      h1= message
      h2= error.status
      pre #{error.stack}

//- TODO: good 404 page
//- TODO: notify when event has already passed (e.g. when somebody came from
//- search engine) - do this after a day passed, also notify when event already
//- started
